#button{
	display: block;
	width: 75px;
	height: 75px;
	text-decoration: none;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-size: 18px;
	background-color: #2555D1;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 32;	
}
#cn-wrapper{
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*background-color: #222;*/
	width: 250px;
	height: 250px;
	border-radius: 50%;
	-z-index: 31;
	overflow: hidden;
	-webkit-transition: -webkit-transform .3s ease-in-out .3s;
	-webkit-transform: scale(0);
}
/*.cn-wrapper ::after{
  content:"";
  display:block;
  font-size:2em;
  width:120px;
  height:120px;
  position: absolute;
  left: 80px;
  top: 80px;
  border-radius: 50%;
  z-index:8;
  background-color: #FFF;
}*/
#cn-wrapper li{
	display: block;
	width: 180px;
	height: 180px;
	left: -55px;
	top: -55px;
	position: absolute;
	overflow: hidden;
	-webkit-transform-origin:100% 100%;
}
#cn-wrapper li a{
	display: block;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	top: 30px;
	left: 30px;
	position: absolute;
	text-decoration: none;	
	background: -webkit-radial-gradient(transparent 25%, #2555D1 20%);
}
#cn-wrapper li a i{
	display: block;
	margin: 50px auto;
	color: #FFF;
	font-size: 30px;
	text-align: center;

}
#cn-wrapper li a:hover,
#cn-wrapper li a:active,
#cn-wrapper li a:focus{
	background: -webkit-radial-gradient(transparent 25%, #1D42A2 20%);
}
/**#cn-wrapper li:first-child{
	-webkit-transform: rotate(-6deg) skew(54deg);
}
#cn-wrapper li:nth-child(2){
	-webkit-transform: rotate(33deg) skew(54deg);
}
#cn-wrapper li:nth-child(3){
	-webkit-transform: rotate(72deg) skew(54deg);
}
#cn-wrapper li:nth-child(4){
	-webkit-transform: rotate(111deg) skew(54deg);
}
#cn-wrapper li:nth-child(5){
	-webkit-transform: rotate(150deg) skew(54deg);
}**/
/**
#cn-wrapper li:first-child a{
	-webkit-transform: skew(-54deg) rotate(-72deg);
}
#cn-wrapper li:nth-child(2) a{
	-webkit-transform: skew(-54deg) rotate(-72deg);
}
#cn-wrapper li:nth-child(3) a{
	-webkit-transform: skew(-54deg) rotate(-72deg);
}
#cn-wrapper li:nth-child(4) a{
	-webkit-transform: skew(-54deg) rotate(-72deg);
}
#cn-wrapper li:nth-child(5) a{
	-webkit-transform: skew(-54deg) rotate(-72deg);
}**/

/******************* 展开动画 **********************/
/*@-webkit-keyframes liOpen1{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(-6deg) skew(54deg);
	}
}
@-webkit-keyframes aOpen1{
	0%{
		-webkit-transform: skew(-54deg) rotate(6deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(6deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}
@-webkit-keyframes liOpen2{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(33deg) skew(54deg);
	}
}
@-webkit-keyframes aOpen2{
	0%{
		-webkit-transform: skew(-54deg) rotate(-33deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-33deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}
@-webkit-keyframes liOpen3{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aOpen3{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}
@-webkit-keyframes liOpen4{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(111deg) skew(54deg);
	}
}
@-webkit-keyframes aOpen4{
	0%{
		-webkit-transform: skew(-54deg) rotate(-111deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}
@-webkit-keyframes liOpen5{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(150deg) skew(54deg);
	}
}
@-webkit-keyframes aOpen5{
	0%{
		-webkit-transform: skew(-54deg) rotate(-150deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}*/

/**************** 收回动画 *****************************/
/*@-webkit-keyframes liClose1{
	0%{
		-webkit-transform: rotate(-6deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aClose1{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(6deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(6deg);
	}
}
@-webkit-keyframes liClose2{
	0%{
		-webkit-transform: rotate(33deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aClose2{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-33deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-33deg);
	}
}
@-webkit-keyframes liClose3{
	0%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aClose3{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
}
@-webkit-keyframes liClose4{
	0%{
		-webkit-transform: rotate(111deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aClose4{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-111deg);
	}
}
@-webkit-keyframes liClose5{
	0%{
		-webkit-transform: rotate(150deg) skew(54deg);
	}
	50%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
	100%{
		-webkit-transform: rotate(72deg) skew(54deg);
	}
}
@-webkit-keyframes aClose5{
	0%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	50%{
		-webkit-transform: skew(-54deg) rotate(-72deg);
	}
	100%{
		-webkit-transform: skew(-54deg) rotate(-150deg);
	}
}*/
