#button{
	display: block;
	width: 75px;
	height: 75px;
	text-decoration: none;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-size: 18px;
	background-color: #2555D1;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 32;	
}
#cn-wrapper{
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	-z-index: 31;
	overflow: hidden;
	-webkit-transition: -webkit-transform .3s ease-in-out .3s;
	-webkit-transform: scale(0);
}
#cn-wrapper li{
	display: block;
	width: 180px;
	height: 180px;
	left: -55px;
	top: -55px;
	position: absolute;
	overflow: hidden;
	-webkit-transform-origin:100% 100%;
}
#cn-wrapper li a{
	display: block;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	top: 30px;
	left: 30px;
	position: absolute;
	text-decoration: none;	
	background: -webkit-radial-gradient(transparent 25%, #2555D1 20%);
}
#cn-wrapper li a i{
	display: block;
	margin: 45px auto;
	color: #FFF;
	font-size: 30px;
	text-align: center;

}
#cn-wrapper li a:hover,
#cn-wrapper li a:active,
#cn-wrapper li a:focus{
	background: -webkit-radial-gradient(transparent 25%, #1D42A2 20%);
}
